{% extends 'myapp/base.html' %}

{% block title %} กลุ่มงานกิจการพิเศษ · สอบถาม {% endblock title %}

{% block content %}

    <br><br>
    <h2>หน้าสำหรับตอบคำถามลูกค้า</h2><br>

    {% comment %} ชื่อผู้ติดต่อ {% endcomment %}
    {% comment %} email (text) {% endcomment %}
    {% comment %} หัวข้อ {% endcomment %}
    {% comment %} รายละเอียด (textarea) {% endcomment %}
    
    <div class="container">
        <center>
            <h3>ชื่อผู้ติดต่อ:{{record.name}}</h3>

            <h3>email:{{record.email}}</h3>

            <h3>หัวข้อ:{{record.title}}</h3>
            <hr>
            <h3>รายละเอียด:{{record.detail}}</h3><br>
            <hr>
            {% if record.detail_answer %}
                <h3>(ตอบแล้ว)</h3>
                <p>{{record.detail_answer}}</p><br>
            {% endif %}
        </center>
    </div>


    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="askid" name="askid" value="{{record.id}}">
            <div>
                <label for="detail">รายละเอียด</label>
                <textarea class="form-control" rows="5" id="detail_answer" name="detail_answer" id=""></textarea>
            </div><br>

            <button type="submit" class="btn btn-primary">submit</button><br><br>

        </form>

      </div>

{% endblock content %}