{% extends 'myapp/base.html' %}

{% block title %} กลุ่มงานกิจการพิเศษ · สอบถาม {% endblock title %}

{% block content %}

    <br><br>
    <h2>สอบถามปัญหากับเราทางนี้ได้เลยครับ</h2><br>

    {% comment %} ชื่อผู้ติดต่อ {% endcomment %}
    {% comment %} email (text) {% endcomment %}
    {% comment %} หัวข้อ {% endcomment %}
    {% comment %} รายละเอียด (textarea) {% endcomment %}

      <div class="container">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="name">ชื่อผู้ติดต่อ</label>
                <input type="text" class="form-control" id="name" name="name">
            </div><br>

            <div class="form-group">
                <label for="name">email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div><br>

            {% comment %}
            <div class="form-group">
                <label for="name">หัวข้อ</label>
                <input type="text" class="form-control" id="title" name="title">
            </div><br>
            {% endcomment %}
            

            <div class="form-group">
            <label for="title">หัวข้อ</label>
            <select class="form-select" id="title" name="title">
                <option>สินค้า</option>
                <option>เคลมสินค้า</option>
                <option>ติดต่อเจ้าหน้าที่</option>
                <option>อื่นๆ </option>
            </select>
            </div>
            
            
            <div class="form-group">
                <label for="detail">รายละเอียด</label>
                <textarea class="form-control" rows = "5" id="detail" name="detail">กรอกรายละเอียด</textarea>
            </div><br>

            <button type="submit" class="btn btn-primary">Submit</button>


        </form>

      </div>

{% endblock content %}