{% extends 'myapp/base.html' %}

{% block title %} กลุ่มงานกิจการพิเศษ · งานวิจัย {% endblock title %}

{% comment %}
  {% block menubar %}
    <a class="nav-link fw-bold py-1 px-0 " aria-current="page" href="{% url 'home' %}">หน้าแรก</a>
    <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'research' %}">งานวิจัย</a>
    <a class="nav-link fw-bold py-1 px-0 " href="{% url 'tracking' %}">ติดตามพัสดุ</a>
    <a class="nav-link fw-bold py-1 px-0 " href="{% url 'contact' %}">ติดต่อเรา</a>
  {% endblock menubar %}
{% endcomment %}

{% block content %}

    <h1>research page.</h1>

    <table class="table table-success table-striped">
      <thead>
        <tr class="table-active">
          <th colspan="2" class="table-active">#</th>
          <th colspan="2" class="table-active">ชื่องานวิจัย</th>
          <th colspan="2" class="table-active">ชื่อผู้วิจัย</th>
          <th colspan="2" class="table-active">ชื่อปีที่ทำวิจัย</th>
          <th colspan="2" class="table-active">บทคัดย่อ</th>
          <th colspan="2" class="table-active">ดาว์นโหลดงานวิจัย</th>
        </tr>
      </thead>
      <tbody>
        {% for t in myrs_research %} 
        <tr >
          <th scope="row">1</th>
          <td colspan="2" class="table-active">{{t.rs_nameth}}</td>
          <td colspan="2" class="table-active">{{t.rs_fname_th}} {{t.rs_lname_th}}</td>
          <td colspan="2" class="table-active">{{t.rs_year}}</td>
          <td colspan="2" class="table-active">{{t.rs_abs_th}}</td>
          <td colspan="2" class="table-active">{{t.rs_file}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
<!--
        <h2>ชื่องานวิจัย : {{t.rs_nameth}}</h2>
        <h3>ชื่อผู้วิจัย : {{t.rs_fname_th}} {{t.rs_lname_th}} </h3>
        <h3>ชื่อปีที่ทำวิจัย : {{t.rs_year}}</h3>
        <h3>บทคัดย่อ] : {{t.rs_abs_th}}</h3>
        <h3>ดาว์นโหลดงานวิจัย : {{t.rs_file}}</h3>
    ---------------------------
-->
    <!--mytracks เรียกมาจาก ไฟล์ views.py-->


{% endblock content %}
